<h2> О проекте</h2>

<div class="card shadow p-3 mb-5 bg-white rounded">
	<div class = "card-body">
		<div class="row">
			<div class = "col-md-6">
				<div id="musubiufa">
				<script type="text/javascript">
				    VK.Widgets.Group("musubiufa", {mode: , width: "300", height: "400"}, 12615153);
				</script>
				</div>
			</div>
			<div class = "col-md-6">
				<div class="card-body shadow-sm p-3 mb-5 bg-white rounded">
					<div class="row">
						<div class="col-md-3">
							<%= image_tag "Lobzov.jpg", class: "rounded-circle img-fluid", alt: "Алексей Лобзов"%>
						</div>
						<div class="col-md-9">
							<span>
								<h4>Алексей Лобзов</h4>
								Руководитель клуба Aikido Musubi, г.Уфа
							</span>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>
