<h2>Контакты</h2>
<div class="card shadow p-3 mb-5 bg-white rounded">
	<div class="card-body">
		<div class="row">
			<p>Вы можете найти нас здесь:</p>
			<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A3f777a20e60b569a8e47be34b053948243ae97f5b744e270c032239d2507d458&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
		</div>
	</div>
</div>